---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---
<div class="lg:w-9/12 w-11/12 m-auto md:my-8">
  <div class="flex items-center relative w-full lg:w-10/12 m-auto flex-wrap">
    <a class="hidden md:inline-block" href="/organisation">
      <img src="/static/images/arrow-alt-circle-left-regular_pink.svg" alt="" class="ml-5 mr-2 w-6" style="">
    </a>
    <a href="/organisation/organisationhilftwenn/">
      <img src="/static/images/arrow-alt-circle-left-regular_pink.svg" alt="" class="mr-5 ml-2 w-6 rotate-180 transform" style="">
    </a>
    <img src="/static/images/man.svg" alt="" class="mx-5 w-8" style="">
    <div class="relative md:flex-1 w-full md:w-auto">
      <h3 class="leading-5 my-5">
        <span class="text-pink-700 mr-5">ORGANISATIONSENTWICKLUNG</span>
      </h3>
      <svg class="z-50" width="100%" height="4" style="position: absolute; bottom:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
      <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; bottom: -7px">
      <img class="absolute z-50 w-12" src="/static/images/flag_pink.svg"  alt=""  style="right: 0px; bottom: 0px">
    </div>
  </div>

  <div class="flex flex-col md:flex-row mt-10 justify-center">
      <div class="flex-none md:w-2/6 md:mr-10 mb-5">
          <img class="mb-8 border-gray-500 border" src="/static/images/bilder/organisation/seil1.jpg" alt="">    
      </div>
      <div class="flex-grow">
          <p>
            Erschaffen Sie Ihre Vision, die Ihr Unternehmen trägt – und von
            jedem Mitarbeiter mit Leidenschaft gelebt wird
          </p>
          <h4 class="mt-5">ORGANISATIONS ENTWICKLUNG FÜR UNTERNEHMEN</h4>
          <p class="">
              Schaffen Sie Zusammenhalt auf allen Ebenen
          </p>
          <p class="mt-5">
            Sie haben eine Vision für Ihr Unternehmen und möchten auf
            dem Weg dorthin Ihre Mitarbeiter mitnehmen. Doch Ihr Unternehmen
            ist ein komplexes System mit unterschiedlichsten
            Menschen, Vernetzungen, Hierarchien und Abläufen. Wie kann
            eine effektive Zusammenarbeit funktionieren?
          </p>
      </div>
  </div>
</div>