---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---
<div class="lg:w-9/12 w-11/12 m-auto my-8">
  <div class="flex items-center relative w-full lg:w-10/12 m-auto">
    <a href="/organisation/unternehmenentwickeln/">
      <img src="/static/images/arrow-alt-circle-left-regular_pink.svg" alt="" class="ml-5 mr-2 w-6" style="">
    </a>
    <img src="/static/images/rocket.svg" alt="" class="mx-5 w-12" style="">
    <div class="relative flex-1">
      <h3 class="leading-5 my-5">
        <span class="text-pink-700 mr-5">ORGANISATIONSENTWICKLUNG MACHT MÖGLICH</span>
      </h3>
      <svg class="z-50" width="100%" height="4" style="position: absolute; bottom:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
      <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; bottom: -7px">
      <img class="absolute z-50 w-12" src="/static/images/flag_pink.svg"  alt=""  style="right: 0px; bottom: 0px">
    </div>
  </div>

  <div class="flex flex-col md:flex-row mt-10 justify-center">
      <div class="flex-none md:w-2/6 md:mr-10">
          <img class="mb-8 border-gray-500 border" src="/static/images/bilder/organisation/seil5.jpg" alt="">    
      </div>
      <div class="flex-grow">
          <h4 class="text-pink-700">BEWUSSTSEIN</h4>
          <p class="">
            Erkennen Sie ganz klar, wo die Engpässe Ihres Unternehmens liegen
            und wie Sie in Zukunft darauf reagieren können.
          </p>
          <h4 class="mt-5 text-pink-700">KLARHEIT</h4>
          <p class="">
            Entwickeln Sie gemeinsam mit mir klare Schritt-für-Schritt-Prozesse,
            die sowohl leicht verständlich als auch konsequent umsetzbar sind.
          </p>
          <h4 class="mt-5 text-pink-700">VISION</h4>
          <p class="">
            Schaffen Sie eine starke Unternehmensvision, die für alle Mitarbeiter
            auf allen Ebenen verständlich ist.
          </p>
          <h4 class="mt-5 text-pink-700">ZUSAMMENHALT</h4>
          <p class="">
            Lassen Sie eine Unternehmenskultur entstehen, die von Respekt,
            Wertschätzung und Authentizität geprägt ist.
          </p>
          <h4 class="mt-5 text-pink-700">ENTSPANNUNG</h4>
          <p class="">
            Lösen Sie bestehende Konflikte achtsam auf und beugen Sie zukünftigen
            Konflikten vor.
          </p>
          <h4 class="mt-5 text-pink-700">ERFOLG</h4>
          <p class="">
            Erleben Sie, wie veränderte Arbeitsbedingungen zu Motivation, Zielerreichung
            und mehr Zufriedenheit im Unternehmen führen.
          </p>
      </div>
  </div>
</div>