---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---
<div class="lg:w-9/12 w-11/12 m-auto my-8">
  <div class="flex items-center relative w-full lg:w-10/12 m-auto">
    <a href="/organisation/organisationmitarbeiter/">
      <img src="/static/images/arrow-alt-circle-left-regular_pink.svg" alt="" class="ml-5 mr-2 w-6" style="">
    </a>
    <a href="/organisation/organisationsentwicklungmoeglich/">
      <img src="/static/images/arrow-alt-circle-left-regular_pink.svg" alt="" class="mr-5 ml-2 w-6 rotate-180 transform" style="">
    </a>
    <img src="/static/images/pflanze.svg" alt="" class="mx-5 w-12" style="">
    <div class="relative flex-1">
      <h3 class="leading-5 my-5">
        <span class="text-pink-700 mr-5">WIE ENTWICKELT SICH EIN UNTERNEHMEN?</span>
      </h3>
      <svg class="z-50" width="100%" height="4" style="position: absolute; bottom:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
      <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; bottom: -7px">
      <img class="absolute z-50 w-12" src="/static/images/flag_pink.svg"  alt=""  style="right: 0px; bottom: 0px">
    </div>
  </div>

  <div class="flex flex-col md:flex-row mt-10 justify-center">
      <div class="flex-none md:w-2/6 md:mr-10">
          <img class="mb-8 border-gray-500 border" src="/static/images/bilder/organisation/seil4.jpg" alt="">    
      </div>
      <div class="flex-grow">
          <p class="">
            In der Organisationsentwicklung gibt es kein fertiges Modell: Die Beratung
            findet direkt in Ihrem Unternehmen statt und wird für Ihre Anforderungen
            maßgeschneidert. Wichtig ist auch die Tradition Ihres
            Unternehmens. Diese wird mitberücksichtigt und dient als Bindeglied
            und Motivation für die gemeinsame Identität aller Mitarbeiter im Unternehmen.
          </p>
          <p class="mt-5">
            Im Prozess der Organisationsentwicklung …
          </p>
          <ul class=" list-disc">
            <li class="leading-7">legen wir den Fokus nicht auf Probleme, sondern auf Ressourcen und Lösungen.</li>
            <li class="leading-7">schulen wir Problemlösungskompetenzen auf allen Ebenen.</li>
            <li class="leading-7">geben wir Hilfe zur Selbsthilfe, um Ihr Unternehmen unabhängig zu machen.</li>
            <li class="leading-7">zielen wir auf langfristige und dauerhafte Ergebnisse ab.</li>
            <li class="leading-7">nehmen wir jeden Mitarbeiter mit, sodass jede Vision möglich wird.</li>
          </ul>
          <p class="mt-5">
            Um wachsen zu können, muss Ihr Unternehmen ein Lebensraum sein, in
            dem auch Ihre Mitarbeiter wachsen können. Ein wertschätzender Umgang,
            klare Kommunikation und kompetente Führungskräfte sind Voraussetzungen
            dafür. Als Coach unterstütze ich Sie darin, das Fundament
            zu schaffen, auf dem Ihr Unternehmen langfristig erfolgreich sein kann.
          </p>
      </div>
  </div>
</div>