<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body class="text-gray-700 antialiased ">
    <header class="">
      <div class="top-nav pt-4 ">
        <ul class="flex justify-end uppercase text-xs absolute md:relative flex-col md:flex-row right-0 md:right-auto">
          <li class="mr-6">
            <a class="" href="/impressum">Impressum</a>
          </li>
          <li class="mr-6">
            <a class="" href="/datenschutz">Datenschutz</a>
          </li>
        </ul>
        <div class="mx-auto px-4 md:px-0">
          <div class="container relative  w-48">
            <a href="/">
              <img src="/static/images/mialog_logo.svg" alt="migalog Logo" >
            </a>
              <img src="/static/images/header_line.svg" alt="subline" class="hidden absolute md:inline-block md:w-64 max-w-none" style="left: -25rem;top: 3rem;">
            <a href="/wingwave">
              <img src="/static/images/wingwave/wingwave_zert.jpg" alt="subline" class="hidden absolute md:inline-block md:w-32 max-w-none" style="right: -22rem;top: 1.5rem;">
            </a>
          </div>
          <p class="text-pink-700 text-center">das <span class="font-medium">forum</span> für persönlichkeit <span class="font-medium">gesundheitswesen</span></p>
        </div>
        <nav class="{{ 'active' if (['/individuum', '/teams', '/organisation'] | contains(page.url)) }} relative flex items-center justify-center flex-wrap bg-gray-200 text-gray-700 mt-4">
          <div class="block md:hidden flex-grow justify-center">
            <button id="hamburgerbtn" class="m-auto flex items-center px-3 py-2   text-gray-700 border-gray-400 hover:text-gray-900 hover:border-gray-900">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
              </svg>
              <span class="ml-2">Menü</span>
            </button>
          </div>
          <div id="menu" class="hidden w-full flex-grow-0 md:flex md:items-center md:w-auto">
            <div class="md:flex-grow uppercase text-center md:text-left">
              <a href="/" class="block  md:inline-block md:mt-0 hover:text-gray-900 px-4 py-2">
                Home
              </a>
              <a href="/wofuer" class="block  md:inline-block md:mt-0 hover:text-gray-900 px-4 py-2 {{ 'active' if '/wofuer' in page.url }} pink-active">
                Unser Wofür
              </a>
              <a id="coaching-trigger" href="/individuum" class=" hidden trigger-sub-menu md:inline-block md:mt-0 hover:text-gray-900 px-4 py-2 {{ 'active green-active' if '/individuum' in page.url }} {{ 'active pink-active' if '/organisation' in page.url }} {{ 'active gray-active' if '/teams' in page.url }}">
                Coaching
              </a>
              <div class="{{ 'active' if (['/individuum', '/teams', '/organisation'] | contains(page.url)) }} sub-nav flex items-center justify-center flex-wrap bg-gray-300 text-gray-700">
                <div class="w-full block flex-grow-0 md:flex md:items-center md:w-auto">
                  <div class="md:flex-grow uppercase">
                    <a id="indi-trigger" href="/individuum" class="relative block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-mia-green hover:bg-mia-green {{ 'bg-mia-green active' if '/individuum' in page.url }}">
                      Individuum
                    </a>
                    <div id="indi-nav" class="{{ 'active' if (['/individuum'] | contains(page.url)) }} sub-nav sub-sub-nav flex items-center justify-center flex-wrap bg-gray-200 text-gray-700">
                      <div class="w-full block flex-grow-0 md:flex md:items-center md:w-auto">
                        <div class="md:flex-grow uppercase">
                          <a href="/individuum/personalcoaching" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-mia-green hover:bg-mia-green {{ 'bg-mia-green active' if '/individuum/personalcoaching/' in page.url }}">
                            PERSONALCOACHING IST
                          </a>
                          <a href="/individuum/personalcoachinghilftwenn/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-mia-green hover:bg-mia-green {{ 'bg-mia-green active' if '/individuum/personalcoachinghilftwenn/' in page.url }}">
                            HILFT IHNEN, WENN
                          </a>
                          <a href="/individuum/loesungentdecken/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-mia-green hover:bg-mia-green {{ 'bg-mia-green active' if '/individuum/loesungentdecken/' in page.url }}">
                            IHRE LÖSUNGEN ENTDECKEN
                          </a>
                          <a href="/individuum/coachingerwartung/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-mia-green hover:bg-mia-green {{ 'bg-mia-green active' if '/individuum/coachingerwartung/' in page.url }}">
                            DAS KÖNNEN SIE ERWARTEN
                          </a>
                          <a href="/individuum/coachingmoeglich/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-mia-green hover:bg-mia-green {{ 'bg-mia-green active' if '/individuum/coachingmoeglich/' in page.url }}">
                            DAS WIRD MÖGLICH
                          </a>
                        </div>
                      </div>
                    </div>
                    <a id="teams-trigger" href="/teams" class="block py-2 px-4 md:inline-block md:mt-0 text-gray-700 hover:text-white hover:bg-gray-700 {{ 'bg-gray-700 active' if '/teams' in page.url }}">
                      Teams
                    </a>
                    <div id="teams-nav" class="{{ 'active' if (['/teams'] | contains(page.url)) }} sub-nav sub-sub-nav flex items-center justify-center flex-wrap bg-gray-200 text-gray-700">
                      <div class="w-full block flex-grow-0 md:flex md:items-center md:w-auto">
                        <div class="md:flex-grow uppercase">
                          <a href="/teams/businesscoaching/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-gray-700 hover:bg-gray-700 {{ 'bg-gray-700 active' if '/teams/businesscoaching/' in page.url }}">
                            BUSINESSCOACHING IST
                          </a>
                          <a href="/teams/businesscoachinghilftwenn/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-gray-700 hover:bg-gray-700 {{ 'bg-gray-700 active' if '/teams/businesscoachinghilftwenn/' in page.url }}">
                            HILFT IHNEN, WENN
                          </a>
                          <a href="/teams/teamvorbild/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-gray-700 hover:bg-gray-700 {{ 'bg-gray-700 active' if '/teams/teamvorbild/' in page.url }}">
                            WERDEN SIE TEAM-VORBILD
                          </a>
                          <a href="/teams/fuehrungsstil/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-gray-700 hover:bg-gray-700 {{ 'bg-gray-700 active' if '/teams/fuehrungsstil/' in page.url }}">
                            ENTDECKEN SIE IHREN FÜHRUNGSSTIL
                          </a>
                          <a href="/teams/businesscoachingmoeglich/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-gray-700 hover:bg-gray-700 {{ 'bg-gray-700 active' if '/teams/businesscoachingmoeglich/' in page.url }}">
                            DAS WIRD MÖGLICH
                          </a>
                        </div>
                      </div>
                    </div>
                    <a id="orga-trigger" href="/organisation" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-pink-700 hover:bg-pink-700 {{ 'bg-pink-700 active' if '/organisation' in page.url }}">
                      Organisation
                    </a>
                    <div id="orga-nav" class="{{ 'active' if (['/organisation/'] | contains(page.url)) }} sub-nav sub-sub-nav flex items-center justify-center flex-wrap bg-gray-200 text-pink-700">
                      <div class="w-full block flex-grow-0 md:flex md:items-center md:w-auto">
                        <div class="md:flex-grow uppercase">
                          <a href="/organisation/organisationsentwicklung/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-pink-700 hover:bg-pink-700 {{ 'bg-pink-700 active' if '/organisation/organisationsentwicklung/' in page.url }}">
                            ORGANISATIONSENTWICKLUNG IST 
                          </a>
                          <a href="/organisation/organisationhilftwenn/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-pink-700 hover:bg-pink-700 {{ 'bg-pink-700 active' if '/organisation/organisationhilftwenn/' in page.url }}">
                            HILFT IHNEN, WENN
                          </a>
                          <a href="/organisation/organisationmitarbeiter/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-pink-700 hover:bg-pink-700 {{ 'bg-pink-700 active' if '/organisation/organisationmitarbeiter/' in page.url }}">
                            MITARBEITER MITNEHMEN
                          </a>
                          <a href="/organisation/unternehmenentwickeln/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-pink-700 hover:bg-pink-700 {{ 'bg-pink-700 active' if '/organisation/unternehmenentwickeln/' in page.url }}">
                            ENTWICKLUNG IHRES UNTERNEHMENS
                          </a>
                          <a href="/organisation/organisationsentwicklungmoeglich/" class="block py-2 px-4 md:inline-block md:mt-0 hover:text-white text-pink-700 hover:bg-pink-700 {{ 'bg-pink-700 active' if '/organisation/organisationsentwicklungmoeglich/' in page.url }}">
                            DAS WIRD MÖGLICH
                          </a>
                        </div>
                      </div>
                    </div>                    
                    <a href="/static/GanzheitlicheProzessbegleitung.pdf" target="_blank"  rel="noopener noreferrer" class="block py-2 px-4 md:inline-block md:mt-0 text-gray-700 hover:text-white hover:bg-gray-700">
                      Prozessbegleitung
                    </a>
                    <a href="/wingwave" class="block py-2 px-4 md:inline-block md:mt-0 text-yellow-600 hover:text-white hover:bg-yellow-600 md:border-l-2 border-gray-400">
                      WINGWAVE<sup>&reg;</sup>-METHODE
                    </a>
                  </div>
                </div>
              </div>
              <a href="/uebermich" class="block px-4 py-2 md:inline-block md:mt-0 hover:text-gray-900 {{ 'active' if '/uebermich' in page.url }} pink-active">
                Kontakt
              </a>
              <a href="/kurse" class="block px-4 py-2 md:inline-block md:mt-0 hover:text-gray-900 {{ 'active' if '/kurse' in page.url }} pink-active">
                Kursangebote
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    
    <div id="main" class="bg-gray-100 font-light">
      <main class="mx-auto px-5 py-8 md:py-12 max-w-sm sm:max-w-screen-sm md:max-w-screen-md md:max-w-screen-lg xl:max-w-screen-xl ">
        {{ content | safe }}
      </main>
    </div>
    
    
    <footer class="bg-gray-200  text-gray-600 py-3  px-12">
      <p class=" text-center text-sm">
        <span class="font-medium">mia</span>log <span class="text-pink-700">das <span class="font-medium">forum</span> für persönlichkeit</span> · Lange Lage 17 · 37154 Northeim · Telefon: +49 (0)171 4405076 <br>
        info@mialog.de · Ein Unternehmen der Stiemerling Senioren-Residenzen e.V.
      </p>
    </footer>
  </body>
  <script src="/static/app.bundled.js"></script>
</html>
