@import "utils/_tailwind.css";
@import "utils/_accessibility.css";

/* purgecss start ignore */

:root {
	--primary: #367ee9;
	--secondary: #a0aec0;
	--accent: #718096;
	--background: #fff;
	--main: #0d0106;
	--header: #2d3748;
}

@layer base {
	h1 {
		@apply text-3xl font-semibold;
	}
	h2 {
		@apply text-2xl font-semibold;
	}
	h3 {
		@apply text-xl font-medium;
	}
	h4 {
		@apply text-base font-semibold;
	}
	p {
		@apply text-base;
	}
	a {
		@apply transition duration-300 ease-in-out;
	}
	ul {
		margin-left: 1rem;
		@apply font-medium;
	}
}

.single-box {
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;
	flex-grow: 1;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
}

.trapezoid {
	width: 75%;
	height: 100%;
	-webkit-clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0% 55%);
	clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0% 55%);
	background: #bfbe9c6e;
	position: absolute;
}

#starter > g:not(#Rand) {
	pointer-events: all;
}
#starter > g.anim-completed:not(#Rand):hover {
	cursor: pointer;
	transform: scale(1.02);
	transform-origin: 250px 250px;
}
#starter > g.anim-completed {
	transition: transform ease-out 250ms;
}

.shape-text {
	shape-outside: ellipse(150px 200px at -20% 50%);
	width: 300px;
	height: 300px;
	border: 10px solid purple;
	float: left;
	background-color: rgba(26, 122, 74, 0.432);
	opacity: 0;
}

/* Navigation */
.pink-active.active {
	@apply text-pink-700;
}
.gray-active.active {
	@apply text-gray-900;
}
.green-active.active {
	@apply text-mia-green;
}

.sub-nav {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	top: 100%;
	width: 100%;
	height: 0;
	/* overflow: hidden; */
}

nav a:hover + .sub-nav:not(.sub-sub-nav),
.sub-nav:not(.sub-sub-nav):hover,
.sub-nav.active {
	visibility: visible;
	opacity: 1;
	height: 100%;
	/* display: block; */
}

.sub-nav.active a.active {
	color: white !important;
}

nav.active {
	margin-bottom: 80px;
}

/* purgecss end ignore */
