---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---

  <div class="flex items-center relative w-full lg:w-10/12 m-auto flex-wrap">
    <a href="/teams/fuehrungsstil/">
      <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="mx-5 w-6" style="">
    </a>
    <img src="/static/images/rocket.svg" alt="" class="mx-5 w-12" style="">
    <div class="relative md:flex-1 w-full md:w-auto">
      <h3 class="leading-5 my-5 pr-16">
        <span class="mr-5">WAS DURCH BUSINESS COACHING MÖGLICH WIRD</span>
      </h3>
      <svg class="z-50" width="100%" height="4" style="position: absolute; bottom:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
      <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; bottom: -7px">
      <img class="absolute z-50 w-12" src="/static/images/flag_gray.svg"  alt=""  style="right: 0px; bottom: 0px">
    </div>
  </div>

  <div class="flex flex-col md:flex-row mt-10 justify-center">
      <div class="flex-none md:w-2/6 md:mr-10">
          <img class=" mb-8" src="/static/images/bilder/teams/schiff5.jpg" alt="">    
      </div>
      <div class="flex-grow">
          <h4 class="">SELBSTBEWUSSTSEIN</h4>
          <p class="">
            Werden Sie sich bewusst, welchen Einfluss Sie als Führungskraft auf Ihre
            Mitarbeiter haben und dass Sie die Verantwortung für Ihr Team tragen.
          </p>
          <h4 class="mt-5">VERSTÄNDNIS</h4>
          <p class="">
            Erkennen Sie, was nicht zu Ihrer Zufriedenheit läuft und warum – und wie
            Sie selbst in diese Prozesse eingreifen können.
          </p>
          <h4 class="mt-5">SELBSTERKENNTNIS</h4>
          <p class="">
            Lernen Sie Ihre wahren Werte kennen und verstehen Sie, welcher Führungsstil
            wirklich zu Ihnen passt und im Einklang mit Ihrer Persönlichkeit
            steht.
          </p>
          <h4 class="mt-5">AUTHENTIZITÄT</h4>
          <p class="">
            Handeln Sie aus Ihrem neuen Führungsstil heraus klar, ehrlich und wertschätzend
            und erleben Sie die Entspannung, die daraus folgt.
          </p>
          <h4 class="mt-5">ZUSAMMENHALT</h4>
          <p class="">
            Lernen Sie, Ihr Team von innen heraus zu stärken und Kommunikation,
            Umgang und Motivation zu verbessern.
          </p>
          <h4 class="mt-5">ERFOLG</h4>
          <p class="">
            Erleben Sie, wie sich durch Ihr Vorbild das gesamte System verändert und
            wie sich daraus messbare Erfolge ergeben.
          </p>
      </div>
  </div>
</div>