---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

  <div class="flex items-center relative w-full lg:w-10/12 m-auto flex-wrap">
    <a href="/teams/teamvorbild/">
      <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="ml-5 mr-2 w-6" style="">
    </a>
    <a href="/teams/businesscoachingmoeglich/">
      <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="mr-5 ml-2 w-6 rotate-180 transform" style="">
    </a>
    <img src="/static/images/pflanze.svg" alt="" class="mx-5 w-12" style="">
    <div class="relative md:flex-1 w-full md:w-auto">
      <h3 class="leading-5 my-5 pr-16">
        <span class="mr-5">WIE ENTDECKEN SIE DIESEN FÜHRUNGSSTIL?</span>
      </h3>
      <svg class="z-50" width="100%" height="4" style="position: absolute; bottom:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
      <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; bottom: -7px">
      <img class="absolute z-50 w-12" src="/static/images/flag_gray.svg"  alt=""  style="right: 0px; bottom: 0px">
    </div>
  </div>

  <div class="flex flex-col md:flex-row mt-10 justify-center">
      <div class="flex-none md:w-2/6 md:mr-10">
          <img class=" mb-8" src="/static/images/bilder/teams/schiff4.jpg" alt="">    
      </div>
      <div class="flex-grow">
          <p class="">
            Im systemischen Business Coaching gehen wir davon aus, dass
            Sie selbst der Experte für Ihre Situation sind. Das bedeutet, dass
            Sie selbst auch in der Lage sind, die besten Lösungen zu finden.
            Entdecken Sie Ihren eigenen Führungsstil im Business Coaching,
            indem Sie …
          </p>
          <ul class=" list-disc">
            <li class="leading-7">eine Außenperspektive auf Ihre Situation einnehmen</li>
            <li class="leading-7">Ihre Werte mit Ihren beruflichen Vorgehensweisen abgleichen</li>
            <li class="leading-7">kraftvolle Entscheidungen für die Zukunft treffen</li>
            <li class="leading-7">Ziele setzen und die Umsetzung angehen</li>
            <li class="leading-7">Insgesamt mehr im Einklang mit Ihren Werten handeln</li>
          </ul>
          <p class="mt-5">
            Diese Klarheit und Authentizität spüren auch Ihre Mitarbeiter.
            So erleben Sie nicht nur, dass Ihr Team positiver auf Sie reagiert;
            auch Mitarbeiter untereinander finden einen anderen Umgang:
            Motivation, klare Kommunikation und wertschätzende Zusammenarbeit
            werden immer selbstverständlicher.
          </p>
      </div>
  </div>
</div>