---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

<div class="max-w-4xl mx-auto mb-20 text-center">
	<a
		href="#"
		class="block bg-pink-700 text-white text-center text-2xl py-3 rounded-lg font-medium shadow-lg my-12"
		>PEP - Klopfen gegen Stress</a
	>
	<p class="text-left">
		Hilfe zur Selbsthilfe wirkt nachhaltig. Diese Erkenntnis der Prozess- und
		Embodiment fokussierten Psychologie (PEP) nutzen wir, um Sie bei Ihren
		Herausforderungen zu unterstützen.
	</p>
	<p class="mt-5 text-left">
		Zur PEP zählt beispielsweise die sogenannte Klopftechnik, eine Methode der
		emotionalen Selbsthilfe, bei der Sie bestimmte Körperpunkte mit den Fingern
		„beklopfen“. Mit dieser Technik können Sie unter anderem lernen, akute
		Stress- oder Angstphasen zu reduzieren und wieder selbst handlungsfähig zu
		werden. Zum Beispiel bei Auftrittsanst, Phobien oder ähnlichem.
	</p>
	<p class="mt-5 text-left">
		Dazu begeben Sie sich zu Beginn in Ihrer Vorstellung in eine Situation, die
		Ihnen Angst macht. Fürchte Sie sich etwa vor Hunden? Dann stellen Sie sich
		vor, vor Ihnen steht ein großer Rüde und knurrt Sie an. Klopfen Sie nun auf
		bestimmte Punkte an Ihrem Körper und denken Sie an die, für Sie bedrohliche
		Situation – so bringen Sie Ihr Gehirn dazu, sich mit diesen
		Sinneswahrnehmungen zu beschäftigen, statt mit dem Auslöser der Phobie. Neue
		Verbindungen zwischen einzelnen Bereichen ihres Gehirns werden aktiviert.
		Die subjektive Bedrohung tritt in den Hintergrund, und der vorhandene
		Stresspegel sinkt merk- und messbar.
	</p>
	<p class="mt-5 mb-2 text-left">
		Aus Sicht der Psychologie gibt es eine Reihe von Erklärungsansätzen für die
		Wirksamkeit der Klopftechnik:
	</p>
	<ul class="font-light list-outside list-disc space-y-3 text-left">
		<li>
			Die selbstgesteuerte Berührung der Haut setzt Stress reduzierende Hormone
			und das Glückshormon Dopamin frei.
		</li>
		<li>
			Der Psychologe und Leiter des Haptik-Forschungslabors am
			Paul-Flechsig-Institut für Hirnforschung an der Medizinischen Fakultät der
			Universität Leipzig, Martin Grunwald, belegte in Studien eindeutig diese
			Wirkung einer Selbstberührung. Sie führt zu einer Verbesserung der
			Gehirnleistung und einer gesteigerten Merkfähigkeit.
		</li>
		<li>
			Diese Wirkung könnte aus der verbesserten Durchblutung der Großhirnrinde
			resultieren, die durch die Stimulation der Gesichtshaut beim „Klopfen“
			entsteht.
		</li>
		<li>
			Möglich ist ebenso, dass Außenreize die Verknüpfungen unterbrechen, die im
			Limbischen System im Mittelhirn bestimmte Auslöser instinktiv mit einer
			Angstreaktion verknüpfen.
		</li>
	</ul>
	<div class="flex mt-24 justify-center">
		<span class="text-center font-medium text-lg px-24"
			>Kontaktieren Sie mich und erfahren Sie, wie SIE sich mit der PEP-Methode
			weiterentwickeln können.</span
		>
	</div>
	<a
		href="/pep"
		class="inline-block bg-gray-700 hover:bg-pink-700 text-white text-center text-md py-3 px-6 rounded-lg font-medium shadow-lg my-12"
		>zurück zur Übersicht</a
	>
</div>
