---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

<div class="max-w-4xl mx-auto mb-20 text-center">
	<a
		href="#"
		class="block bg-pink-700 text-white text-center text-xl lg:text-2xl py-3 px-3 rounded-lg font-medium shadow-lg my-10 lg:my-12"
		>PEP DEIN LEBEN „Sag Deine Meinung“</a
	>
	<div class="flex lg:space-x-8 items-start flex-col lg:flex-row">
		<img
			class="object-contain w-full lg:w-1/3 rounded-lg mb-4 lg:mb-0"
			src="/static/images/pep/teaser/tiger.jpg"
			alt="Tiger"
		/>
		<div class="text-left">
			<p>
				<span class="font-medium italic">Kennen Sie das?</span> Eine Situation
				fühlt sich nicht stimmig an. Du würdest gerne etwas ändern. Etwas sagen.
				Deine Stimme in Dei- nem Kopf weiß genau, was es ist. Und auch Dein
				Bauch weiß, wie es sich anfühlen würde, wenn es stimmig wäre. Du bist
				hin und her gerissen. Tausend gute Gründe für etwas anderes. Aber die
				Sicher- heit des alten dafür aufgeben? Wenn Du diesen Schritt gehst,
				wird alles anders! Aber auch besser? Und was, wenn nicht? Verdien ich
				das überhaupt? Es hat doch schon mal nicht geklappt. Und was denken
				andere darüber? Darf ich mir das erlauben? Steht mir das zu? Schaffe ich
				das denn? Bringe ich den Mut auf, auch mal „NEIN“ zu sagen – vier
				Buchstaben die der Beginn von Veränderungen sein können.
			</p>
			<p class="mt-5">
				Wenn Ihre Glaubenssätze Sie zur Zeit noch blockieren, NEIN zu sagen oder
				klare Entscheidungen zu treffen, kann PEP Sie unterstützen, loszulassen
				und in ein selbstbestimmtes und glücklicheres Leben zu starten.
			</p>
		</div>
	</div>
	<div class="flex my-12 lg:my-24 justify-center">
		<span class="text-center font-medium text-lg px-12 lg:px-24"
			>Kontaktieren Sie mich und erfahren Sie, wie SIE sich mit der PEP-Methode
			weiterentwickeln können.</span
		>
	</div>
	<a
		href="/pep"
		class="inline-block bg-gray-700 hover:bg-pink-700 text-white text-center text-md py-3 px-6 rounded-lg font-medium shadow-lg lg:my-12 my-0"
		>zurück zur Übersicht</a
	>
</div>
