---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

<div class="max-w-4xl mx-auto mb-20 text-center">
	<a
		href="#"
		class="block bg-pink-700 text-white text-center text-xl lg:text-2xl py-3 px-3 rounded-lg font-medium shadow-lg my-10 lg:my-12"
		>Selbstwert erkennen und umsetzen</a
	>
	<p>
		Ein weiteres Element PEP-basierenden Angebote, beinhaltet ein intensives
		Selbstwert-Training. Das effektive Zusammenspiel von differenzierten
		Testverfahren, ausgereifter Selbstwert-Arbeit und unterstützender
		Klopftechnik als nachhaltiger Methode der Selbstwirksamkeit, ermöglicht
		Ihnen schnell und nachhaltig spürbare Veränderungen und Erfolge.
	</p>
	<div class="flex my-12 lg:my-24 justify-center">
		<span class="text-center font-medium text-lg px-12 lg:px-24"
			>Kontaktieren Sie mich und erfahren Sie, wie SIE sich mit der PEP-Methode
			weiterentwickeln können.</span
		>
	</div>
	<a
		href="/pep"
		class="inline-block bg-gray-700 hover:bg-pink-700 text-white text-center text-md py-3 px-6 rounded-lg font-medium shadow-lg lg:my-12 my-0"
		>zurück zur Übersicht</a
	>
</div>
