---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---
<div class="lg:w-9/12 w-11/12 m-auto my-8">
  <div class="flex relative w-full lg:w-10/12 m-auto">
    <img src="/static/images/arrow-alt-circle-left-regular.svg" alt="" class="mx-5 w-6" style="">
    <img src="/static/images/pflanze.svg" alt="" class="mx-5 w-12" style="">
    <div class="relative flex-1">
      <h3 class="leading-5 my-5">
        <span class="text-mia-green mr-5">DAS DÜRFEN SIE VON COACHING ERWARTEN:</span>
      </h3>
      <svg class="z-50" width="100%" height="4" style="position: absolute; bottom:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
      <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; bottom: -7px">
      <img class="absolute z-50 w-12" src="/static/images/flag.svg"  alt=""  style="right: 0px; bottom: 0px">
    </div>
  </div>

  <div class="flex flex-col md:flex-row mt-10 justify-center">
      <div class="flex-none md:w-2/6 md:mr-10">
          <img class=" mb-8" src="https://picsum.photos/640/540" alt="">    
      </div>
      <div class="flex-grow">
          <ul class=" list-disc">
            <li class="leading-7">neue, positive Perspektiven</li>
            <li class="leading-7">offene Fragestellungen und klare Zielsetzungen</li>
            <li class="leading-7">eine respektvolle und wertschätzende Atmosphäre</li>
            <li class="leading-7">konstruktive Arbeit ohne Bewertung</li>
            <li class="leading-7">eine Abkürzung zu neuen Wegen</li>
          </ul>
          <p class="mt-5">
            Und vor allem: Alles, was Sie im Coaching mit mir erarbeiten, ist
            100 % Sie. Ich gebe Ihnen nichts vor, denn Sie sind der Experte für
            Ihr Leben. So kommen Sie in kürzester Zeit zu Lösungen, die IHRE
            sind und deswegen dauerhaft funktionieren.
          </p>
      </div>
  </div>
</div>