---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---

<h3 class="leading-5 my-10">
  <span class="text-mia-green mr-5">INDIVIDUUM</span> SYSTEMISCHES COACHING
</h3>

<div class="flex justify-between relative">
  <svg class="z-50" width="100%" height="4" style="position: absolute; top:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
  <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; top: -7px">
  <img class="absolute z-50" src="/static/images/flag.svg" width="50px" alt=""  style="right: 0px; top: -70px">
  <!--<img class="absolute z-0 h-full object-cover" src="/static/images/rect_bg.svg"  width="75%" alt=""  style="left: 0px; top: 0px">-->
  <div class="trapezoid"></div>
  <div class="single-box w-1/6">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="65%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="25px" alt="" class="absolute" style="left: -10px; bottom: 37%">
  </div>
  <div class="single-box w-1/6">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="55%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="35px" alt="" class="absolute" style="left: -15px; bottom: 47%">
  </div>
  <div class="single-box w-1/6">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="45%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="40px" alt="" class="absolute" style="left: -18px; bottom: 57%">
  </div>
  <div class="single-box w-1/4">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="35%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="50px" alt="" class="absolute" style="left: -23px; bottom: 67%">
    <h4>
      PERSONAL COACHING <br>
      FÜR LEBENSFRAGEN
    </h4>
    <p class="mt-2">
      Treffen Sie eine bewusste <br>
      Entscheidung – für sich!  
    </p>
  </div>
  <div class="single-box w-1/4 bg-gray-300">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="60px" alt="" class="absolute" style="left: -28px; bottom: 99%">
    <ul class="leading-8">
      <li>ENTSPANNUNG</li>
      <li>PERSPEKTIVWECHSEL</li>
      <li>KLARHEIT</li>
      <li>SELBSTVERTRAUEN</li>
      <li>HANDLUNGSFÄHIGKEIT</li>
      <li>LEBENSFREUDE</li>
      <li class="text-pink-700 mt-4">COACHING VOR ORT, <br>
          TELEFONISCH ODER ONLINE</li>
    </ul>
  </div>
</div>
<div class="flex justify-between relative mb-5">
  <div class="relative w-1/6 pt-24 px-5 pl-1">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/man.svg" width="25px" alt="" class="absolute" style="left: -10px; top: 15%">
    <ul>
      <li class="hover:text-mia-green">
        <a class="block" href="/individuum/personalcoaching"> 
          PERSONAL- <br>
          COACHING IST ...
          <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="w-5 rotate-180 transform inline-block" style="">
        </a>
      </li>
    </ul>
  </div>
  <div class="relative w-1/6 pt-24 px-5 pl-1">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/speak.svg" width="65px" alt="" class="absolute" style="left: -32px; top: 15%">
    <ul>
      <li class="hover:text-mia-green">
        <a class="block" href="/individuum/personalcoachinghilftwenn"> 
        HILFT IHNEN, <br>
        WENN …
        <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="w-5 rotate-180 transform inline-block" style="">
        </a>
      </li>
    </ul>
  </div>
  <div class="relative w-1/6 pt-24 px-5 pl-1">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/head1.svg" width="45px" alt="" class="absolute" style="left: -10px; top: 10%">
    <ul>
      <li class="hover:text-mia-green">
        <a class="block" href="/individuum/loesungentdecken"> 
          IHRE LÖSUNGEN <br>
          ENTDECKEN ...
          <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="w-5 rotate-180 transform inline-block" style="">
        </a>
      </li>
    </ul>
  </div>
  <div class="relative w-1/4 pt-24 px-5 pl-1">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/pflanze.svg" width="45px" alt="" class="absolute" style="left: -20px; top: 12%">
    <ul>
      <li class="hover:text-mia-green">
        <a class="block" href="/individuum/coachingerwartung"> 
          DAS KÖNNEN <br>
          SIE ERWARTEN ...
          <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="w-5 rotate-180 transform inline-block" style="">
        </a>
      </li>
    </ul>
  </div>
  <div class="relative w-1/4 pt-24 px-5 pl-1">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/rocket.svg" width="50px" alt="" class="absolute" style="left: -20px; top: 17%">
    <ul>
      <li class="hover:text-mia-green">
        <a class="block" href="/individuum/coachingmoeglich"> 
          DAS WIRD <br>
          MÖGLICH ...
          <img src="/static/images/arrow-alt-circle-left-regular_gray.svg" alt="" class="w-5 rotate-180 transform inline-block" style="">
        </a>
      </li>
    </ul>
  </div>
</div>
