---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

<div class="max-w-4xl mx-auto mb-20">
	<div class="slider-wrapper mt-12 mb-16">
		<div class="tns-slider">
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img src="/static/images/pep/slider/klopfen.jpg" alt="Kopfen mit PEP" />
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/selbsthilfe.jpg"
					alt="Kopfen mit PEP"
				/>
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/krisenzeiten.jpg"
					alt="Selbsthilfe in emotionalen Krisenzeigen"
				/>
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/wirkungen.jpg"
					alt="Die PEP Selbsthilfe Wirkungen"
				/>
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/gehirn.jpg"
					alt="Wirkhypothese im Gehirn"
				/>
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/selbstbeziehung.jpg"
					alt="Mit PEP die Selbstbeziehung stärken"
				/>
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/gefuehle.jpg"
					alt="Mit PEP einschränkende Gefühle regulieren"
				/>
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/weitmehr.jpg"
					alt="Weit mehr als kopfen"
				/>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-12">
		<div class="pep-teaser space-y-6">
			<a href="klopfen-gegen-stress" class="rounded-lg shadow-lg">
				<img
					class="rounded"
					src="/static/images/pep/teaser/klopfenTeaser.jpg"
					alt="Klopfen Teaser"
			/></a>
			<a
				href="klopfen-gegen-stress"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>PEP - Klopfen gegen Stress</a
			>
		</div>
		<div class="pep-teaser space-y-6">
			<a href="individuelle-blockaden-loesen" class="rounded-lg shadow-lg">
				<img
					class="rounded"
					src="/static/images/pep/teaser/glaubensMusterTeaser.jpg"
					alt="Klopfen Teaser"
			/></a>
			<a
				href="individuelle-blockaden-loesen"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>Individuelle Blockaden lösen – Potenzial entfalten.</a
			>
		</div>
		<div class="pep-teaser space-y-6">
			<a href="selbstwert-erkennen" class="rounded-lg shadow-lg">
				<img
					class="rounded"
					src="/static/images/pep/teaser/blockadenTeaser.jpg"
					alt="Klopfen Teaser"
			/></a>
			<a
				href="selbstwert-erkennen"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>Selbstwert erkennen und umsetzen</a
			>
		</div>
		<div class="pep-teaser space-y-6">
			<a href="pep-deine-leben" class="rounded-lg shadow-lg">
				<img
					class="rounded"
					src="/static/images/pep/teaser/tiger.jpg"
					alt="Klopfen Teaser"
				/>
			</a>
			<a
				href="pep-deine-leben"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>PEP DEIN LEBEN „Sag Deine Meinung“</a
			>
		</div>
	</div>
	<div class="flex my-24 justify-center">
		<span class="text-center font-medium text-lg px-24"
			>Kontaktieren Sie mich und erfahren Sie, wie SIE sich mit der PEP-Methode
			weiterentwickeln können.</span
		>
	</div>
</div>
