---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

<div class="max-w-4xl mx-auto mb-20">
	<div class="slider-wrapper mt-12 mb-16">
		<div class="tns-slider">
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img src="/static/images/pep/slider/klopfen.jpg" alt="Kopfen mit PEP" />
			</div>
			<div class="rounded-lg bg-white px-16 py-4 shadow">
				<img
					src="/static/images/pep/slider/selbsthilfe.jpg"
					alt="Kopfen mit PEP"
				/>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-12">
		<div class="pep-teaser space-y-6">
			<img
				class="rounded-lg shadow-lg"
				src="/static/images/pep/teaser/klopfenTeaser.jpg"
				alt="Klopfen Teaser"
			/>
			<a
				href="#"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>PEP - Klopfen gegen Stress</a
			>
		</div>
		<div class="pep-teaser space-y-6">
			<img
				class="rounded-lg shadow-lg"
				src="/static/images/pep/teaser/glaubensMusterTeaser.jpg"
				alt="Klopfen Teaser"
			/>
			<a
				href="#"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>Individuelle Blockaden lösen – Potenzial entfalten.</a
			>
		</div>
		<div class="pep-teaser space-y-6">
			<img
				class="rounded-lg shadow-lg"
				src="/static/images/pep/teaser/blockadenTeaser.jpg"
				alt="Klopfen Teaser"
			/>
			<a
				href="#"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>Selbstwert erkennen und umsetzen</a
			>
		</div>
		<div class="pep-teaser space-y-6">
			<img
				class="rounded-lg shadow-lg"
				src="/static/images/pep/teaser/tigerTeaser.jpg"
				alt="Klopfen Teaser"
			/>
			<a
				href="#"
				class="bg-gray-700 text-white text-center py-3 rounded-lg font-medium shadow-lg"
				>PEP DEIN LEBEN „Sag Deine Meinung“</a
			>
		</div>
	</div>
</div>
