---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---

<h4 class="leading-5">
  Teams <br>
  <span class="text-pink-700">Organisation</span>
</h4>

<h3 class="leading-5 my-10">
  <span class="text-mia-green mr-5">INDIVIDUUM</span> SYSTEMISCHES COACHING
</h3>

<div class="flex justify-between relative">
  <svg class="z-50" width="100%" height="4" style="position: absolute; top:0px; left:0px;"><line x1="0" x2="100%" y1="2" y2="2" stroke="#989698" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
  <img class="absolute z-50" src="/static/images/arrow.svg" width="25px" alt=""  style="right: -10px; top: -7px">
  <img class="absolute z-50" src="/static/images/flag.svg" width="50px" alt=""  style="right: 0px; top: -70px">
  <div class="single-box w-1/6">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="65%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="25px" alt="" class="absolute" style="left: -10px; bottom: 37%">
  </div>
  <div class="single-box w-1/6">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="55%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="35px" alt="" class="absolute" style="left: -15px; bottom: 47%">
  </div>
  <div class="single-box w-1/6">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="45%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="40px" alt="" class="absolute" style="left: -18px; bottom: 57%">
  </div>
  <div class="single-box w-1/4">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="35%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="50px" alt="" class="absolute" style="left: -23px; bottom: 67%">
    <p>
      Platz für Em laboris iur,
      soluptaquis unt fuga. Excepe
      lab il incta niae porerum dit
      quisquo quo est, occus alis
      magnis eos nam explatur
      rerchil ipsapides simustibea
      preictiaepro dolum
    </p>  
  </div>
  <div class="single-box w-1/4 bg-gray-300">
    <svg width="4" height="100%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/individuum.svg" width="60px" alt="" class="absolute" style="left: -28px; bottom: 99%">
    <p>
      Platz für Em laboris iur,
      soluptaquis unt fuga. Excepe
      lab il incta niae porerum dit
      quisquo quo est, occus alis
      magnis eos nam explatur
      rerchil ipsapides simustibea
      preictiaepro dolum
    </p>  
  </div>
</div>
<div class="flex justify-between relative">
  <div class="relative w-1/6 pt-24 px-5">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/rocket.svg" width="50px" alt="" class="absolute" style="left: -20px; top: 20%">
    <ul>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
    </ul>
  </div>
  <div class="relative w-1/6 pt-24 px-5">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/people.svg" width="65px" alt="" class="absolute" style="left: -32px; top: 20%">
    <ul>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
    </ul>
  </div>
  <div class="relative w-1/6 pt-24 px-5">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/speak.svg" width="65px" alt="" class="absolute" style="left: -31px; top: 20%">
    <ul>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
    </ul>
  </div>
  <div class="relative w-1/4 pt-24 px-5">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/head1.svg" width="50px" alt="" class="absolute" style="left: -20px; top: 15%">
    <ul>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
    </ul>
  </div>
  <div class="relative w-1/4 pt-24 px-5">
    <svg width="4" height="50%" style="position: absolute; bottom:0px; left:0px;"><line x1="2" x2="2" y1="99%" y2="5%" stroke="#89115d" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 7"/></svg>
    <img src="/static/images/head2.svg" width="50px" alt="" class="absolute" style="left: -20px; top: 15%">
    <ul>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
      <li>Menü Punkt</li>
    </ul>
  </div>
</div>
