---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---

<div class="grid gap-6 grid-cols-3">
    <div class="col-span-3 md:col-span-1 w-3/6 md:w-full mx-auto">
        <img class="w-48 float-right" src="/static/images/bilder/KerstinWinter2021.jpg" alt="">    
    </div>
    <div class="col-span-3 md:col-span-2">
        <h4>Mein Name ist Kerstin Winter,</h4>
        <p class="mt-5">
            Personal und Business Coach aus dem Raum Südniedersachsen. Ich unterstütze Menschen in ihrer
            eigenen, natürlichen Entwicklung hin zu kraftvollen Entscheidungen für sich selbst, einer
            erfolgreichen Arbeit und einem erfüllten Leben.
        </p>
        <p class="mt-5">
            Meine systemische Haltung als Coach liegt mir sehr am Herzen. Ich bin überzeugt, dass jeder
            Mensch selbst der Experte für seine eigene Situation ist. Deshalb gebe ich im Coaching
            niemals Antworten vor, sondern leite meine Klienten dahin, dass sie selbst …
        </p>
        <ul class="text-mia-green list-disc mt-3">
            <li class="leading-7">Verantwortung für ihre Situation und ihr Leben übernehmen</li>
            <li class="leading-7">authentische Handlungsmöglichkeiten finden, die für sie stimmig sind</li>
            <li class="leading-7">solche Möglichkeiten dann auch umsetzen</li>
            <li class="leading-7">dazu ihre eigenen Ressourcen aktivieren</li>
            <li class="leading-7">und wieder die Freude an einem selbstbestimmten, erfüllten (Berufs-)Leben entdecken</li>
        </ul>
        <h4 class="mt-10">Was macht mich als Coach aus?</h4>
        <p class="">
            Ich sehe Coaching als ein großartiges Geschenk – sowohl für mich selbst als auch für meine
            Klienten. Denn es gibt uns die Möglichkeit, unseren ureigenen Weg zu gehen und unser
            (Berufs-)Leben zu 100 % so zu gestalten, dass es uns entspricht.
        </p>
        <p class="mt-5">
            Als Coach bin ich verantwortungsbewusst und strukturiert. Ich verliere nie den roten Faden,
            auch wenn Sie selbst mal vom Thema abkommen. Vor allem aber bringe ich jede Menge
            Authentizität mit: Bei mir gibt es keine steifen Regeln oder vorgefertigten Pläne. Sie sind
            einzigartig, ich bin einzigartig, und wir finden im Coaching für Sie einzigartige Lösungen.
        </p>
        <p class="mt-5">
            Möchten Sie erleben, wie es sich anfühlt, wieder voller Klarheit eigene Lösungen zu entdecken
            und für Ihr erfülltes, selbstbestimmtes Leben umzusetzen? Dann lade ich Sie zu einem
            kostenlosen Kennenlerngespräch ein.
        </p>
        <h4 class=" text-pink-700 mt-10">Meine Qualifikationen</h4>
        <h4 class="mt-5">Ausbildung</h4>
        <table>
        <tr class="">
            <td class="w-24 md:w-48 align-top py-2 md:py-3">1994 - 1997</td>
            <td class=" align-top py-2 md:py-3">
                Ausbildung mit Examen zur Krankenschwester im Niedersächsischen Landeskrankenhaus Hildesheim
            </td>
        </tr>
        </table>
        <h4 class="mt-10">Weiterbildung</h4>
        <table>
        <tr class="">
            <td  class="w-24 md:w-48 py-2 md:py-3 align-top">04/2021</td>
            <td class="py-2 md:py-3 align-top">
                Ausbildung <br>
                wingwave-Coach <a class="text-pink-700" href="/static/images/zerti/wingwave.pdf" target="_blank" rel="noopener noreferrer">Zertifikat</a><br>
                Besser Siegmund Institut Hamburg
            </td>
        </tr>
        <tr class="">
            <td class="w-24 md:w-48 py-2 md:py-3 align-top">03/2018 - 03/2019</td>
            <td class="py-2 md:py-3 align-top">
                Weiterbildung <br>
                Systemischer Business und Personal Coach (ECA) <a class="text-pink-700" href="/static/images/zerti/Syst.Coach-ECA_Jakob.pdf" target="_blank" rel="noopener noreferrer">Zertifikat   </a><br>
                Coaching Akademie Berlin
            </td>
        </tr>
        <tr class="">
            <td class="w-24 md:w-48 py-2 md:py-3 align-top">02/2016 - 02/2018</td>
            <td class="py-2 md:py-3 align-top">
                Weiterbildung <br>
                Systemische Organisationsentwicklerin (DGSF)    
                <a class="text-pink-700" href="/static/images/zerti/Zertifikat_DGSF_SOE_Jakob.pdf" target="_blank" rel="noopener noreferrer">Zertifikat 1</a> /
                <a  class="text-pink-700"href="/static/images/zerti/Zertifikat_Wispo_SOE_Jakob.pdf" target="_blank" rel="noopener noreferrer">Zertifikat 2</a>
                <br>
                Systemisches Institut der wispo Berlin
            </td>
        </tr>
        <tr class="">
            <td class="w-24 md:w-48 py-2 md:py-3 align-top">12/2013</td>
            <td class="py-2 md:py-3 align-top">
                Weiterbildung <br>
                DGQ, Prozessorientiertes Qualitätsmangement I + II <br>
                DGQ, Qualitätsbeauftragte und interne Auditorin
            </td>
        </tr>
        <tr class="">
            <td class="w-24 md:w-48 py-2 md:py-3 align-top">09/2000 - 10/2001</td>
            <td class="py-2 md:py-3 align-top">
                staatliche Anerkennung als Pflegekraft im mittleren Leitungsbereich
            </td>
        </tr>
        <tr class="">
            <td class="w-24 md:w-48 py-2 md:py-3 align-top">09/2000 - 12/2000</td>
            <td class="py-2 md:py-3 align-top">
                Qualifizierung zur Leitung eines Pflegedienstes oder einer Station oder Abteilung
            </td>
        </tr>
        </table>
        <div class="flex mt-16 text-pink-700">
            <h4 class="flex-1">Ich freue mich auf Sie.</h4>
            <h4 class="flex-1">Ihre Kerstin Winter</h4>
        </div>
    </div>
</div>