---
layout: base.njk
title: mialog - das forum für persönlichkeit Gesundheitswesen
---

<div class="grid gap-6 grid-cols-3">
    <div class="">
        <img src="https://picsum.photos/640/540" alt="">    
    </div>
    <div class="col-span-2">
        <h4>Mein Name ist Kerstin Winter,</h4>
        <p class="mt-5">
            Personal und Business Coach aus dem Raum Hildesheim. Ich unterstütze Menschen in ihrer
            eigenen, natürlichen Entwicklung hin zu kraftvollen Entscheidungen für sich selbst, einer
            erfolgreichen Arbeit und einem erfüllten Leben.
        </p>
        <p class="mt-5">
            Meine systemische Haltung als Coach liegt mir sehr am Herzen. Ich bin überzeugt, dass jeder
            Mensch selbst der Experte für seine eigene Situation ist. Deshalb gebe ich im Coaching
            niemals Antworten vor, sondern leite meine Klienten dahin, dass sie selbst …
        </p>
        <ul class="text-mia-green list-disc mt-3">
            <li class="leading-7">Verantwortung für ihre Situation und ihr Leben übernehmen</li>
            <li class="leading-7">authentische Handlungsmöglichkeiten finden, die für sie stimmig sind</li>
            <li class="leading-7">solche Möglichkeiten dann auch umsetzen</li>
            <li class="leading-7">dazu ihre eigenen Ressourcen aktivieren</li>
            <li class="leading-7">und wieder die Freude an einem selbstbestimmten, erfüllten (Berufs-)Leben entdecken</li>
        </ul>
        <h4 class="mt-10">Was macht mich als Coach aus?</h4>
        <p class="">
            Ich sehe Coaching als ein großartiges Geschenk – sowohl für mich selbst als auch für meine
            Klienten. Denn es gibt uns die Möglichkeit, unseren ureigenen Weg zu gehen und unser
            (Berufs-)Leben zu 100 % so zu gestalten, dass es uns entspricht.
        </p>
        <p class="mt-5">
            Als Coach bin ich verantwortungsbewusst und strukturiert. Ich verliere nie den roten Faden,
            auch wenn Sie selbst mal vom Thema abkommen. Vor allem aber bringe ich jede Menge
            Authentizität mit: Bei mir gibt es keine steifen Regeln oder vorgefertigten Pläne. Sie sind
            einzigartig, ich bin einzigartig, und wir finden im Coaching für Sie einzigartige Lösungen.
        </p>
        <p class="mt-5">
            Möchten Sie erleben, wie es sich anfühlt, wieder voller Klarheit eigene Lösungen zu entdecken
            und für Ihr erfülltes, selbstbestimmtes Leben umzusetzen? Dann lade ich Sie zu einem
            kostenlosen Kennenlerngespräch ein.
        </p>
        <div class="flex mt-10 text-pink-700">
            <h4 class="flex-1">Ich freue mich auf Sie.</h4>
            <h4 class="flex-1">Ihre Kerstin Winter</h4>
        </div>
    </div>
</div>