---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

<div class="grid gap-6 grid-cols-3">
    <div class="col-span-3 md:col-span-1 flex flex-row md:flex-col items-center	justify-center md:justify-between">
        <img class="w-24 md:w-48 md:mb-10 mr-4 md:mr-0" src="/static/images/wingwave/wingwave1.svg" alt="">    
        <div class="flex md:flex-col md:pb-16">
            <img class="object-contain	w-12 md:w-32 md:mb-10 mr-5 md:mr-0" src="/static/images/wingwave/wingwave_zert2.png" alt="">    
            <img class="object-contain	w-12 md:w-32 md:mb-10" src="/static/images/wingwave/wingwave_zert3.png" alt="">    
        </div>
    </div>
    <div class="col-span-3 md:col-span-2">
        <h4 class="text-yellow-600 text-lg">WINGWAVE<sup>&reg;</sup>: DAS „TURBO-COACHING“</h4>
        <p class="font-medium text-lg">gegen Blockaden, Stress und Ängste – für mehr Lebensfreude, Motivation und Erfolg</p>
        <p class="mt-5 font-medium">Kennen Sie das auch: Vom „Kopf her“ möchten Sie sich sehr gern in bestimmten
Bereichen Ihres Lebens anders verhalten oder anders fühlen - aber es will Ihnen nicht so recht gelingen? Sie verfallen immer wieder in „alte“ Muster und kommen
nicht ganz in Ihre Kraft? Dann könnte möglicherweise ein wingwave-Coaching genau das Richtige für Sie sein!</p>
        <p class="mt-5">
            Als zertifizierte wingwave-Coachin biete ich die wingwave-Methode an. Sie ist ein
            Leistungs- und Emotions-Coaching, das für den Coachee spürbar und schnell in
            wenigen Sitzungen zum Abbau von Leistungsstress und zur Steigerung von Kreativität,
            Mentalfitness und Konfliktstabilität führt.
        </p>
        <p class="mt-5">
            Erreicht wird dieser Ressourcen-Effekt durch eine einfach erscheinende Grundintervention:
            das Erzeugen von „wachen“ REM-Phasen (Rapid Eye Movement), welche
            wir Menschen sonst nur im nächtlichen Traumschlaf durchlaufen. Dabei führt
            der Coach mit schnellen Handbewegungen den Blick seiner Coachees horizontal
            hin und her. Laut Gehirnforschung lösen die wachen Augenbewegungen – anders
            als beim fixierten Blick – deutlich stresslindernde Reaktionen in verschiedenen
            Gehirnarealen aus, beispielsweise aktivieren sie auch auf eine günstige Weise den
            präfrontalen Cortex im Großhirn. Die „Motion“ der Augen ist also ein wirkungsvoller
            Auslöser für positive „waves“.
        </p>
        <div class="flex mb-10 mt-8">
            <div>
                <h4 class="mt-4 font-medium">Erfahren Sie mehr über diese Coaching-Methode</h4>
                <h4 class="mt-1 font-medium">auf der <a target="_blank" rel="noopener noreferrer" class="underline text-yellow-600" href="https://wingwave.com/">WINGWAVE-WEBSITE</a></h4>
            </div>
            <img class="w-24  ml-8" src="/static/images/wingwave/wingwave2.svg" alt="">    
        </div>
        <h4 class="mt-10 font-medium">ERKLÄRVIDEO</h4>
        <a class="mt-2 block w-full md:w-3/5" target="_blank" rel="noopener noreferrer" href="https://wingwave.com/ueber-wingwave/erklaervideo/"><img class="" src="/static/images/wingwave/video.jpg" alt="Erklärvideo" ></a>
    </div>
</div>