---
layout: base.njk
title: mialog - das forum für persönlichkeitsentwicklung
---

<div class="grid gap-6 grid-cols-3">
    <div class="col-span-3 md:col-span-1 w-3/6 md:w-full mx-auto">
        <img src="/static/images/bilder/wofuer_adler.png" alt="Adler">    
    </div>
    <div class="col-span-3 md:col-span-2">
        <h4>SYSTEMISCHES PERSONAL & BUSINESS-COACHING</h4>
        <h5 class="text-mia-green">Sinn und Leidenschaft entdecken. Kraftvolle Entscheidungen treffen. Glücklich sein.</h5>
        <p class="mt-5">
            Sie tragen bereits alle Antworten in sich, um voller Selbstvertrauen die richtigen Entscheidungen
            für ein glückliches und erfolgreiches Leben zu treffen. Doch vielleicht fühlen Sie
            sich im Alltag Ihren Verpflichtungen, den Anforderungen und Erwartungen anderer ausgeliefert?
            Ihre Werte, Ihre Wünsche und Bedürfnisse bleiben hinter dem zurück, was sie
            glauben, tun zu müssen? Sie fühlen sich nicht mehr frei, sondern fremdbestimmt, und Sie
            sehnen sich nach Klarheit?
        </p>
        <p class="mt-5">
            Mein Name ist Kerstin Winter. Als systemischer Business und Personal Coach begleite ich
            Sie zu der einzigen Lösung, die für Sie dauerhaft funktionieren wird – Ihrer eigenen. Oft
            kommt es dabei gar nicht so sehr auf die Herausforderungen im Außen an, sondern auf den
            Mut, den Blick auf sich selbst zu lenken. Im Coaching gewinnen Sie Klarheit darüber, wie
            Ihre Situation ist und wie Sie Ihr Leben gestalten wollen – und werden.
        </p>
        <h4 class="text-pink-700 mt-10">VERÄNDERN SIE JETZT DEN BLICK AUF IHR LEBEN</h4>
        <p class="text-pink-700">
            Vereinbaren Sie jetzt ein kostenloses Vorgespräch oder erfahren Sie mehr über mich als
            Coach. So spüren Sie schnell, ob die Zusammenarbeit für Sie sinnvoll ist.
        </p>
        <h4 class="mt-10">WIE LÄUFT DAS COACHING AB?</h4>
        <p class="">
            Wir lernen uns unverbindlich per Telefon kennen und Sie schildern mir kurz Ihr Anliegen.
            Anschließend, wenn Sie eine Zusammenarbeit wünschen, vereinbaren wir einen Termin. Zu
            diesem treffen wir uns entweder direkt vor Ort oder Sie nehmen Ihr Coaching bequem zu
            Hause per Telefon oder Skype in Anspruch.
        </p>
        <p class="mt-5">
            Im systemischen Coaching steht an erster Stelle immer die strukturierte Auftragsklärung.
            So stellen wir sicher, dass Sie im Coaching auf dem Weg zu Ihrem Ziel die bestmögliche
            Unterstützung bekommen.
        </p>
        <h4 class="mt-10">Was macht systemisches Coaching besonders?</h4>
        <ul class="text-mia-green list-disc mt-3">
            <li class="leading-7">Es ist lösungsorientiert mit Blick in die Zukunft.</li>
            <li class="leading-7">Sie selbst sind und bleiben der Experte für Ihre Situation.</li>
            <li class="leading-7">Als Coach unterstütze ich Sie respektvoll und wertschätzend, ohne zu bewerten.</li>
            <li class="leading-7">Wir behalten Ihr gesamtes System im Auge, damit Veränderungen nachhaltig sind.</li>
            <li class="leading-7">Jede Lösung entspricht zu 100 % Ihren Werten und Möglichkeiten.</li>
        </ul>
        <h4 class="mt-10">DAS KÖNNEN SIE DURCH COACHING VERÄNDERN</h4>
        <p class="mt-5">
            Ob im Privatleben, im Beruf oder als Führungskraft in einem Unternehmen: Sie sind stets
            der Experte für Ihre Herausforderungen und für deren Lösungen. Ein Coaching hilft, Zugang
            zu diesen eigenen Lösungen zu finden, damit Sie:
        </p>
        <ul class="text-mia-green list-disc mt-3">
            <li class="leading-7">Sinn und Motivation in Ihr (Arbeits-)Leben bringen</li>
            <li class="leading-7">wieder selbstbestimmt und frei handeln</li>
            <li class="leading-7">klare Entscheidungen treffen, zu denen Sie authentisch stehen können</li>
            <li class="leading-7">eine positive Veränderung in Ihrem gesamten System anstoßen</li>
            <li class="leading-7">mit Verantwortungsbewusstsein und Selbstvertrauen führen – beruflich oder privat</li>
        </ul>
        <p class="mt-5">
            Es sind nicht die äußeren Umstände die das Leben verändern, sondern die inneren Veränderungen
            die sich im Leben äußern.
        </p>
    </div>
</div>